<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description }}">

	<link rel="shortcut icon" href="{{ site.app_icon }}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"  crossorigin="anonymous">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="../main.css">
</head>